code-maven-plugin/trunk/esb/esb-runtime/esb-runtime-client/esb-runtime-client-test/src/main/resources/com/deppon/esb/client/foss/METE-INF/ws/foss4crm/CRM_FOSS_VEHICLE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/crm"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/crm"
	elementFormDefault="qualified">

	<complexType name="GoodsBillReceiveRequest">
		<annotation>
			<documentation>提交接货单信息</documentation>
		</annotation>
		<sequence>
			<element name="custName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>客户名称</documentation>
				</annotation>
			</element>
			<element name="custMobile" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>联系手机</documentation>
				</annotation>
			</element>
			<element name="custTel" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>联系电话</documentation>
				</annotation>
			</element>
			<element name="receiveProvince" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>接货省:如上海省</documentation>
				</annotation>
			</element>
			<element name="receiveProvinceCode" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>接货省编码</documentation>
				</annotation>
			</element>
			<element name="receiveCity" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>接货市:上海市</documentation>
				</annotation>
			</element>
			<element name="receiveCityCode" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>接货市编码</documentation>
				</annotation>
			</element>
			<element name="receiveCounty" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>接货区/县：青浦区</documentation>
				</annotation>
			</element>
			<element name="receiveCountyCode" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>接货区/县编码</documentation>
				</annotation>
			</element>
			<element name="receiveDetailAddress" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						接货具体地址：徐泾镇明珠路1018号德邦物流C区3楼
					</documentation>
				</annotation>
			</element>
			<element name="receiveDetailAddressRemark" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						接货具体地址备注：德邦物流C区3楼
					</documentation>
				</annotation>
			</element>
			<element name="consigneeContactCode" type="string"  minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货人联系人编码</documentation>
				</annotation>
			</element>
			<element name="receiverCustName" type="string">
				<annotation>
					<documentation>收货人联系姓名</documentation>
				</annotation>
			</element>
			<element name="receiverCustMobile" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人联系手机</documentation>
				</annotation>
			</element>
			<element name="receiverCustPhone" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>接货人联系电话</documentation>
				</annotation>
			</element>
			<element name="consigneeProvince" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人省名称</documentation>
				</annotation>
			</element>
			<element name="consigneeProvinceCode" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人省编码</documentation>
				</annotation>
			</element>
			<element name="consigneeCity" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人市名称</documentation>
				</annotation>
			</element>
			<element name="consigneeCityCode" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人市编码</documentation>
				</annotation>
			</element>
			<element name="consigneeCounty" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人区/县</documentation>
				</annotation>
			</element>
			<element name="consigneeCountyCode" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人区/县编码</documentation>
				</annotation>
			</element>
			<element name="consigneeDetailAddress" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人详细地址</documentation>
				</annotation>
			</element>
			<element name="consigneeDetailAddressRemark" type="string" 
				maxOccurs="1">
				<annotation>
					<documentation>收货人详细地址备注:如(加油站对面)</documentation>
				</annotation>
			</element>
			<element name="consigneeAddress" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货人地址</documentation>
				</annotation>
			</element>
			<element name="goodsName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>

			<element name="weight" type="double" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>重量</documentation>
				</annotation>
			</element>
			<element name="cubage" type="double" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>体积</documentation>
				</annotation>
			</element>
			<element name="packing" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>包装</documentation>
				</annotation>
			</element>
			<element name="pieces" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>件数</documentation>
				</annotation>
			</element>
			<element name="size" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>尺寸</documentation>
				</annotation>
			</element>
			<element name="desc" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>备注</documentation>
				</annotation>
			</element>
			<element name="transProperty" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运输性质</documentation>
				</annotation>
			</element>
			<element name="deliverMode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>提货方式</documentation>
				</annotation>
			</element>
			<element name="ladingStationId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>提货网点ID</documentation>
				</annotation>
			</element>
			<element name="goodsType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>货物类型</documentation>
				</annotation>
			</element>
			<element name="usingVehicleDeptNum" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>用车部门编码</documentation>
				</annotation>
			</element>
			<element name="usingVehicleDeptId" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>用车部门id</documentation>
				</annotation>
			</element>
			<element name="firstPickTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最早接货时间</documentation>
				</annotation>
			</element>
			<element name="lastPickTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最晚接货时间</documentation>
				</annotation>
			</element>
			<element name="vehDeptNum" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>派车车队</documentation>
				</annotation>
			</element>
			<element name="vehDeptId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>派送车车队id</documentation>
				</annotation>
			</element>
			<element name="orderNumber" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>订单号</documentation>
				</annotation>
			</element>
			<element name="orderedTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>下单时间</documentation>
				</annotation>
			</element>
			<element name="orderType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>订单类型</documentation>
				</annotation>
			</element>
			<element name="orderOwnDeptId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>订单受理部门</documentation>
				</annotation>
			</element>
			<element name="creatorNum" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>当前操作人工号</documentation>
				</annotation>
			</element>
			<element name="creatorId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>当前操作人id</documentation>
				</annotation>
			</element>
			<element name="carType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>车型</documentation>
				</annotation>
			</element>
			<element name="memberType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>会员类型</documentation>
				</annotation>
			</element>
			<element name="waybillNumber" type="string" minOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="reciveLoanType" type="string">
				<annotation>
					<documentation>代收货款类型</documentation>
				</annotation>
			</element>
			<element name="reviceMoneyAmount" type="decimal">
				<annotation>
					<documentation>代收货款金额</documentation>
				</annotation>
			</element>
			<element name="insuredAmount" type="decimal">
				<annotation>
					<documentation>报价申明价值</documentation>
				</annotation>
			</element>
			<element name="couponNumber" type="string" minOccurs="1">
				<annotation>
					<documentation>优惠券编码</documentation>
				</annotation>
			</element>
			<element name="paidMethod" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>付款方式</documentation>
				</annotation>
			</element>
			<element name="returnBillType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>返单类别</documentation>
				</annotation>
			</element>
			<element name="channelCustID" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>渠道客户Id:官网发货人德邦用户名</documentation>
				</annotation>
			</element>
			<element name="waybillType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>订单运单类型</documentation>
				</annotation>
			</element>
			<element name="deliveryCustomerCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户客户编码</documentation>
				</annotation>
			</element>
			<element name="isEWaybillBigCustomer" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否电子运单大客户</documentation>
				</annotation>
			</element>
			<element name="codRefundAccount" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款帐号</documentation>
				</annotation>
			</element>
			<element name="codRefundAccountName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款帐号开户名</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	<complexType name="GoodsBillReceiveResponse">
		<sequence>
			<element name="result" type="boolean">
				<annotation>
					<documentation>是否成功</documentation>
				</annotation>
			</element>
			<element name="reason" type="string">
				<annotation>
					<documentation>失败原因</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="goodsBillReceiveRequest" type="tns:GoodsBillReceiveRequest"></element>
	<element name="goodsBillReceiveResponse" type="tns:GoodsBillReceiveResponse"></element>
</schema>