code-maven-plugin/trunk/esb/esb-runtime/esb-runtime-client/esb-runtime-client-test/src/main/resources/com/deppon/esb/client/foss/METE-INF/ws/foss4crm/FossService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/customerService"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/crm"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/customerService" name="CustomerService">
	<!-- 抽象定义 -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/crm">
			<xsd:include schemaLocation="CRM_QUREY_ISCUSTOMERBLANKOUT.xsd" />
			<xsd:include schemaLocation="CRM_FOSS_QUERYMONEY.xsd" />
			<xsd:include schemaLocation="CRM_ORDER_FOSS_BIND.xsd" />
			<xsd:include schemaLocation="CRM_FOSS_VEHICLE.xsd" />
			<xsd:include schemaLocation="FOSS_SVCCHARGE_STATUS_UPDATE.xsd" />
			<xsd:include schemaLocation="FOSS_GENERATE_CLAIMSAPBILL.xsd" />
			<xsd:include schemaLocation="CRM_SYNC_ORDER_LOCK_INFO.xsd" />
			<xsd:include schemaLocation="FOSS_CANCEL_ORDER.xsd"></xsd:include>
			<xsd:include schemaLocation="FOSS_QUERY_ACCTINFO.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SyncOrderLockInfoRequest">
		<wsdl:documentation>推送订单锁屏信息请求</wsdl:documentation>
		<wsdl:part name="request" element="tns_domain:SyncOrderLockInfoRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="SyncOrderLockInfoResponse">
		<wsdl:documentation>推送订单锁屏信息响应</wsdl:documentation>
		<wsdl:part name="response" element="tns_domain:SyncOrderLockInfoResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="QureyIsCustomerBlankOutRequest">
		<wsdl:part name="request" element="tns_domain:isCustomerBlankOutRequest"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="QureyIsCustomerBlankOutResponse">
		<wsdl:part name="response" element="tns_domain:isCustomerBlankOutResponse"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryMoneyRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryMoneyRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryMoneyResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryMoneyResponse" name="payload" />
	</wsdl:message>
	<wsdl:message name="BindOrderRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:bindOrderRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="BindOrderResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:bindOrderResponse" name="payload" />
	</wsdl:message>
	<wsdl:message name="GoodsBillReceiveRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:goodsBillReceiveRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="GoodsBillReceiveResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:goodsBillReceiveResponse"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="ServiceChargeStatusUpdateRequest">
		<wsdl:documentation>劳务费状态更新请求信息</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload"
			element="tns_domain:serviceChargeStatusUpdateRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ServiceChargeStatusUpdateResponse">
		<wsdl:documentation>劳务费状态更新响应信息</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload"
			element="tns_domain:serviceChargeStatusUpdateResponse"></wsdl:part>
	</wsdl:message>
	<!-- 生成理赔应付单接口请求响应 -->
	<wsdl:message name="claimsPayBillGenerateRequest">
		<wsdl:documentation>生成理赔应付单接口请求</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload" element="tns_domain:claimsPayBillGenerateRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="claimsPayBillGenerateResponse">
		<wsdl:documentation>生成理赔应付单接口响应</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload" element="tns_domain:claimsPayBillGenerateResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="cancelOrderRequest">
		<wsdl:documentation>取消订单接口请求</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload"
			element="tns_domain:cancelOrderRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelOrderResponse">
		<wsdl:documentation>取消订单接口响应</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload"
			element="tns_domain:cancelOrderResponse"></wsdl:part>
	</wsdl:message>
	<!-- 查询客户运单及营销活动信息 -->
	<wsdl:message name="FossQueryAcctinfoRequest">
		<wsdl:documentation>查询客户运单及营销活动信息请求</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload" element="tns_domain:FossQueryAcctinfoRequest" />
	</wsdl:message>
	<wsdl:message name="FossQueryAcctinfoResponse">
		<wsdl:documentation>查询客户运单及营销活动信息响应</wsdl:documentation>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="payload" element="tns_domain:FossQueryAcctinfoResponse" />
	</wsdl:message>
		
	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	<!-- 引入消息部分中消息定义来描述函数签名（操作名、输入参数、输出参数） -->
	<wsdl:portType name="CustomerService">
		<wsdl:operation name="syncOrderLockInfo">
			<wsdl:documentation>推送订单锁屏信息</wsdl:documentation>
			<wsdl:input message="tns:SyncOrderLockInfoRequest" />
			<wsdl:output message="tns:SyncOrderLockInfoResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="QureyIsCustomeBlankOut">
			<wsdl:input message="tns:QureyIsCustomerBlankOutRequest" />
			<wsdl:output message="tns:QureyIsCustomerBlankOutResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryMoney">
			<wsdl:input message="tns:QueryMoneyRequest" />
			<wsdl:output message="tns:QueryMoneyResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="bindOrder">
			<wsdl:input message="tns:BindOrderRequest" />
			<wsdl:output message="tns:BindOrderResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="sendGoodsBillReceive">
			<wsdl:input message="tns:GoodsBillReceiveRequest" />
			<wsdl:output message="tns:GoodsBillReceiveResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateServiceChargeStatus">
			<wsdl:documentation>劳务费状态更新操作</wsdl:documentation>
			<wsdl:input message="tns:ServiceChargeStatusUpdateRequest" />
			<wsdl:output message="tns:ServiceChargeStatusUpdateResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="claimsPayBillGenerate">
			<wsdl:documentation>生成理赔应付单接口</wsdl:documentation>
			<wsdl:input message="tns:claimsPayBillGenerateRequest" />
			<wsdl:output message="tns:claimsPayBillGenerateResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelOrder">
			<wsdl:documentation></wsdl:documentation>
			<wsdl:input message="tns:cancelOrderRequest" />
			<wsdl:output message="tns:cancelOrderResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="fossQueryAcctinfo">
			<wsdl:documentation>查询客户运单及营销活动信息</wsdl:documentation>
			<wsdl:input message="tns:FossQueryAcctinfoRequest" />
			<wsdl:output message="tns:FossQueryAcctinfoResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>		
	</wsdl:portType>
	<!-- 具体定义 -->
	<!-- portTypes部分的每一操作在这里实现 -->
	<wsdl:binding name="CustomerServiceSOAP" type="tns:CustomerService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<!-- 推送订单锁屏信息 -->
		<wsdl:operation name="syncOrderLockInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/syncOrderLockInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:SyncOrderLockInfoRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:SyncOrderLockInfoResponse"></soap:header>
				<soap:body use="literal" parts="response" />
			</wsdl:output>
		</wsdl:operation>
		<!-- 查询客户是否可作废 -->
		<wsdl:operation name="QureyIsCustomeBlankOut">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/QureyIsCustomeBlankOut" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:QureyIsCustomerBlankOutRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:QureyIsCustomerBlankOutResponse"></soap:header>
				<soap:body parts="response" />
			</wsdl:output>
		</wsdl:operation>
		<!--客户发货到货金额查询 -->
		<wsdl:operation name="queryMoney">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryMoney" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryMoneyRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryMoneyResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		<!--订单与运绑定接口 -->
		<wsdl:operation name="bindOrder">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/bindOrder" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:BindOrderRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:BindOrderResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		<!--接货单新增接口 -->
		<wsdl:operation name="sendGoodsBillReceive">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/sendGoodsBillReceive" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:GoodsBillReceiveRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:GoodsBillReceiveResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateServiceChargeStatus">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/updateServiceChargeStatus" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:ServiceChargeStatusUpdateRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:ServiceChargeStatusUpdateResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<!-- 生成理赔应付单接口 -->
		<wsdl:operation name="claimsPayBillGenerate">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/claimsPayBillGenerate" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:claimsPayBillGenerateRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:claimsPayBillGenerateResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		<!-- 取消订单 -->
		<wsdl:operation name="cancelOrder">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/cancelOrder" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:cancelOrderRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:cancelOrderResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>		
		<!-- 查询客户运单及营销活动信息 -->
		<wsdl:operation name="fossQueryAcctinfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/fossQueryAcctinfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:FossQueryAcctinfoRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:FossQueryAcctinfoResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<!-- 确定每一绑定端口的地址 -->
	<wsdl:service name="CustomerService">
		<wsdl:port binding="tns:CustomerServiceSOAP" name="CustomerServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
