code-maven-plugin/trunk/esb/esb-runtime/esb-runtime-server/esb-runtime-server-test/src/main/resources/com/deppon/esb/server/foss/META-INF/jms/schema/EDI_FILEUP_SUMBILL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/air"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/air"
	elementFormDefault="qualified">
	<!--EDI_FILEUP_SUMBILL  -->
	<complexType name="SumBillRequest">
		<annotation>
			<documentation>合票清单信息</documentation>
		</annotation>
		<sequence>
			<element name="creatorNumber" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>员工编号</documentation>
				</annotation>
			</element>
			<element name="SenderName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>寄件人姓名</documentation>
				</annotation>
			</element>
			<element name="sendDate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发件日期</documentation>
				</annotation>
			</element>
			<element name="subject" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>主题(格式最好为：始发站_航班日期__航班号_提货单号___变更或中转等)</documentation>
				</annotation>
			</element>
			<element name="mailFolderName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>邮件夹名称(固定为"清单夹")</documentation>
				</annotation>
			</element>
			<element name="noticeFlag" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>提醒标志(固定为“1”，表示收到清单后发回执给相关负责人)</documentation>
				</annotation>
			</element>
			<element name="readFlag" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>已读标志,为空表示未读(为""值)</documentation>
				</annotation>
			</element>
			<element name="mailFlag" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>邮件标志</documentation>
				</annotation>
			</element>
			<element name="priorityLevel" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>优先级别(优先级别为高)</documentation>
				</annotation>
			</element>
			<element name="mailSize" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>邮件大小</documentation>
				</annotation>
			</element>
			<element name="attachmentName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>附件名称(例如：成都4306航班.xls)</documentation>
				</annotation>
			</element>
			<element name="attachmentLink" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>附件链接(与附件名称一致)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SumBillResponse">
		<sequence>
			<element name="mailId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>邮件记录ID</documentation>
				</annotation>
			</element>
			<element name="attachmentId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>附件记录ID</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="CollectAirBillRequest" type="tns:SumBillRequest"></element>
	<element name="CollectAirBillResponse" type="tns:SumBillResponse"></element>
</schema>