code-maven-plugin/trunk/esb/esb-runtime/esb-runtime-server/esb-runtime-server-test/src/main/resources/com/deppon/esb/server/foss/META-INF/jms/schema/FailInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by storm (storm) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/ows/inteface/domain/failInfo" xmlns:ns1="http://www.deppon.com/ows/inteface/domain/failInfo" targetNamespace="http://www.deppon.com/ows/inteface/domain/failInfo" elementFormDefault="qualified">
	<complexType name="FailInfo">
		<annotation>
			<documentation>
				失败信息
			</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>失败ID</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>失败原因</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
