code-maven-plugin/trunk/esb/esb-runtime/esb-runtime-server/esb-runtime-server-test/src/main/resources/org/hbhk/aili/esb/server/foss/META-INF/jms/schema/EIS_SYNC_DISTRICT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/ows/inteface/domain/" xmlns:tns1="http://www.deppon.com/ows/inteface/domain/failInfo" targetNamespace="http://www.deppon.com/ows/inteface/domain/" elementFormDefault="qualified">
	<import namespace="http://www.deppon.com/ows/inteface/domain/failInfo" schemaLocation="FailInfo.xsd"/>
	<complexType name="SyncDistrictRequest">
		<annotation>
			<documentation>
				FOSS行政区域信息变化，调用接口同步数据
			</documentation>
		</annotation>
		<sequence>
			<element name="DistrictInfo" type="tns:DistrictInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>行政区域信息同步</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DistrictInfo">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="code" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>行政区域编码</documentation>
				</annotation>
			</element>
			<element name="name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>区域全称</documentation>
				</annotation>
			</element>
			<element name="simpleName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>简称</documentation>
				</annotation>
			</element>
			<element name="availableName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>可用名称</documentation>
				</annotation>
			</element>
			<element name="parentDistrictName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>上级行政区域名称</documentation>
				</annotation>
			</element>
			<element name="virtualDistrictId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>虚拟行政区域</documentation>
				</annotation>
			</element>
			<element name="degree" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>行政区域级别</documentation>
				</annotation>
			</element>
			<element name="parentDistrictCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>上级行政区域编码</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<element name="regionSuffix" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>后缀</documentation>
				</annotation>
			</element>
			<element name="versionNo" type="double" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>版本号</documentation>
				</annotation>
			</element>
			<element name="pinyin" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>拼音</documentation>
				</annotation>
			</element>
			<element name="pinyinAbbr" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>拼音简称</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SyncDistrictResponse">
		<annotation>
			<documentation>
				影像处理数据结果返回给FOSS
			</documentation>
		</annotation>
		<sequence>
			<element name="failInfos" type="tns1:FailInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>返回信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="SyncDistrictRequest" type="tns:SyncDistrictRequest"/>
	<element name="SyncDistrictResponse" type="tns:SyncDistrictResponse"/>
</schema>
